{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <h1 style="text-align: center; margin: 20px auto;">{{ quiz.title }}</h1>
  <form method="post">
    {% csrf_token %}
    {% for question in questions %}
    <div>
      <!-- <h5><strong>{{ forloop.counter }}. {{ question.text }}</strong></h5> -->
      <p><strong>{{ question.question }}</strong></p>
      <label><input type="radio" name="{{ question.id }}" value="options_A"> {{ question.options_A }}</label><br>
      <label><input type="radio" name="{{ question.id }}" value="options_B"> {{ question.options_B }}</label><br>
      <label><input type="radio" name="{{ question.id }}" value="options_C"> {{ question.options_C }}</label><br>
      <label><input type="radio" name="{{ question.id }}" value="options_D"> {{ question.options_D }}</label><br>
    
      <!-- {% for option in question.options.all %}
      <label>
        <input type="radio" name="{{ question.id }}" value="{{ option.id }}">
        {{ option.text }}
      </label><br>
      {% endfor %} -->
    </div>
    <hr>
    {% endfor %}
    <button class=" btn btn-primary btn-md-rectangle d-lg-inline-flex"><a class="btn btn-primary py-2 px-4 d-xl-inline-block rounded-pill">Submit</a></button>
                
  </form>

</div>

{% endblock %}