<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {% block link %} {% endblock link %}
    {% block js %} {% endblock js %}

    {% include 'style.html' %}

    {% block extrahead %}
  
    {% endblock extrahead %}

</head>

<body>
    {% include 'loader.html' %}

    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- <div class="page"> -->

      {% include 'search.html' %}

  {% block content %}

  {% endblock content %}

<!-- Main Footer -->
{% include 'footer.html' %}
<!-- </div> -->
<!-- Main JS -->
{% include 'js.html' %}
  {% block extrascript %}

  {% endblock extrascript %}
</body>

</html>
